POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_DB=your_db
SPRING_DATASOURCE_USERNAME=your_user
SPRING_DATASOURCE_PASSWORD=your_password
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/your_db
JWT_SECRET=your_jwt_secret_with_at_least_32_characters
JWT_EXPIRATION_MS=3600000

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET_NAME=alumni-files

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_app_password
MAIL_FROM=noreply@alumniifma.com
APP_FRONTEND_LOCAL_URL=http://localhost:5173
APP_FRONTEND_PROD_URL=https:link-prod-frontend
# Para desenvolvimento local com Mailhog: MAIL_HOST=localhost MAIL_PORT=1025 MAIL_SMTP_AUTH=false MAIL_SMTP_STARTTLS=false
MAIL_SMTP_AUTH=true
MAIL_SMTP_STARTTLS=true
