POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_DB=your_db
SPRING_DATASOURCE_USERNAME=your_user
SPRING_DATASOURCE_PASSWORD=your_password
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/your_db
JWT_SECRET=your_jwt_secret_with_at_least_32_characters
JWT_EXPIRATION_MS=3600000
